/*
 * @Author: ChillyBlaze
 * @Date: 2022-05-03 10:09:33
 * @LastEditTime: 2022-08-09 11:04:33
 * @FilePath: /front-end/src/assets/mixin.scss
 * @Description: 统一变量定义
 * 命名规则：对象+(场景)+属性
 */

@mixin pagePara {
	--background-color: #fffcff;
	--stroke-hint-color: #f9f;
	--stroke-hint-success-color: #084;
	--stroke-hint-warn-color: #fb5;
	--stroke-hint-error-color: #f00;
	--font-color: #889;
	--font-hint-color: #ddd;
	--font-hover-color: #fcf;
	--font-identified-color: #f7d;
	--component-background-color: #fff;
	--component-hint-color: #fff8ff;

	--component-light-shadow: 0 1px 3px rgba(143, 136, 143, 0.3);

	--common-border-radius: 8px;
	--common-padding: 5px 12px;

	--hint-font-size: 14px;
	--common-font-size: 16px;
	--highlight-font-size: 20px;
}
